<div class="container">
  <div class="row">
    <h1 class="display-1 font-weight-bold mx-auto my-5">About</h1>
  </div>
  <div class="row">
    <p class="text-center h3 mx-auto" style="line-height:3rem">
      ながのcakeは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </p>
  </div>
  <div>
    <div id="carouselExampleFade carouselExampleIndicators" class="carousel slide carousel-fade mx-auto col-md-10" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner text-center">
       <div class="carousel-item active">
        <%= image_tag 'deserts.jpg',size: '700x400' %>
       </div>
       <div class="carousel-item">
        <%= image_tag 'ichigo.jpg',size: '700x400' %>
       </div>
       <div class="carousel-item">
        <%= image_tag 'dsc.jpg',size: '700x400' %>
       </div>
       <div class="carousel-item">
        <%= image_tag 'bake.jpg',size: '700x400' %>
       </div>
      </div>
    </div>
  </div>
</div>
