<div class="container">
  <div class="row">
    <h1 class="display-1 font-weight-bold mx-auto my-5">About</h1>
  </div>
  <div class="row">
    <p class="text-center h3 mx-auto" style="line-height:3rem">
      ながのcakeは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </p>
  </div>
  <div class="row">
    <!--後で画像挿入-->
  </div>
</div>
