<table class="table table-borderless border mt-4">
 <thead class="text-center">
   <tr class="border-bottom">
     <td>ジャンル検索</td>
  </tr>
 </thead>
 <tbody>
  <% genres.each do |genre| %>
  <tr>
    <td>
     <%= link_to items_path(id: genre.id) do %>
      <%= genre.name %>
     <% end %>
    </td>
  </tr>
  <% end %>
 </tbody>
</table>