<table class="table table-borderless border mt-4">
 <thead class="text-center">
   <tr class="border-bottom">
     <td style ="background-color: #816F5B; color: #fff;">ジャンル検索</td>
  </tr>
 </thead>
 <tbody>
  <% genres.each do |genre| %>
  <tr>
   <td>
    <%= link_to items_path(id: genre.id),class: 'text-decoration-none' do %>
     <span style="color: #816F5B;"><%= genre.name %></span>
    <% end %>
   </td>
  </tr>
  <% end %>
 </tbody>
</table>