<table class="table table-borderless border mt-4">
 <thead class="text-center">
   <tr class="border-bottom">
     <td>ジャンル検索</td>
  </tr>
 </thead>
 <tbody>
   <tr>
     <td><%= link_to 'ケーキ', items_path %></td>
   </tr>
   <tr>
     <td><%= link_to '焼き菓子', items_path %></td>
   </tr>
   <tr>
    <td><%= link_to 'プリン', items_path %></td>
   </tr>
   <tr>
    <td><%= link_to 'キャンディ', items_path %></td>
   </tr>
 </tbody>
</table>