  <%= search_form_for search_item, url: search_path do |f| %>
    <div class="form-inline">
      <%= f.search_field :name_cont, placeholder: "Search", class: "form-control" %>
      <%= f.submit '商品検索', class: "btn btn-outline-light" %>
    </div>
  <% end %>