<div class="container-fluid text-light" style="background-color:#3C240A; position: absolute; bottom:0; height:75px;">
  <div class="row">
    <div class='mx-auto mt-4 mb-2'>
    	<p>2022.beef-tongue-snow-boarders</p>
    </div>
  </div>
</div>